<div class="container">
<h1 class="section-title">Angular Forms</h1>
<section class="overview">
<p class="section-intro">
  Angular supports two main types of forms. Here's what you need to know:
</p>

<ul class="section-points">
  <li><strong>Template-driven forms</strong>: Simple, declarative, and best for smaller forms. Not shown in this example.</li>
  <li><strong>Reactive forms</strong>: More scalable, testable, and handled in code.</li>
</ul>
</section>
<section class="topics">
<h2>Sub-Topics</h2>
<ul class="links-wrapper">
 <li><a [routerLink]="'reactive'" class="nav-link">Reactive Form Example</a></li> 
  <li><a [routerLink]="'validation'" class="nav-link">Validation Techniques</a></li>
</ul>
</section>
</div>