<div class="container">
    <h1>Global Error Interceptor</h1>
  
    <section class="overview">
      <p>
        An <strong>HTTP Error Interceptor</strong> in Angular provides a centralized way to catch and handle HTTP errors across the entire application. It's commonly used to display user-friendly messages, redirect on authentication failures, or log issues for debugging. By intercepting failed responses globally, you can ensure consistent and maintainable error handling without duplicating logic in every service or component.
      </p>
  
      <h2>Example of Global Error Interceptor</h2>
      <app-global-error-handling-interceptor-demo></app-global-error-handling-interceptor-demo>
    </section>
  </div>