<div class="container">
  <h1>Feature Flags</h1>

  <!-- Create Feature Flag -->
  <section class="create-flag">
    <form [formGroup]="form" (ngSubmit)="create()">
  <mat-form-field appearance="fill">
  <mat-label>Feature flag</mat-label>
  <mat-select formControlName="key" >
    <mat-option *ngFor="let key of keys" [value]="key">
      {{ key }}
    </mat-option>
  </mat-select>
</mat-form-field>

      <input type="text" placeholder="Value" formControlName="value" />

      <mat-form-field appearance="fill">
  <mat-label>Allowed Roles</mat-label>
  <mat-select formControlName="allowedRoles" multiple>
    <mat-option *ngFor="let role of roles" [value]="role">
      {{ role }}
    </mat-option>
  </mat-select>
</mat-form-field>

      <textarea
        placeholder="Description"
        formControlName="description"
      ></textarea>

      <label>
        <input type="checkbox" formControlName="enabled" />
        Enabled
      </label>

      <button type="submit" [disabled]="form.invalid">Create</button>
    </form>
  </section>

  <!-- Flags List -->
  <section class="flags-list">
    <app-feature-flags-list
      [flags]="flags$ | async"
      (toggle)="toggle($event)"
      (valueChange)="updateValue($event)"
      (delete)="delete($event)"
    ></app-feature-flags-list>
  </section>

  <!-- Demo Component -->
  <app-feature-flaged-demo *ifFeature="'featuredflaged-demo'; else placeholder"/>


<ng-template #placeholder>
  <div class="placeholder">
    <p>This is only available if featuredflaged-demo is enabled.</p>
  </div>
</ng-template>
</div>
