<button (click)="getSetting()">Get settings</button>

<div class="container">
  <form [formGroup]="form">
    <ng-container *ngFor="let item of groupedArrayData">
      <div class="expander" [class.show]="true"> <!-- or use any show condition -->
        <div class="group-title">
          <h3>{{ item.name }}</h3>
          <button type="button" (click)="toggleExpander(item.name)">
            {{ expanderStates[item.name] ? 'Collapse' : 'Expand' }}
          </button>
        </div>

        <div class="content" [class.open]="expanderStates[item.name]">
          <ng-template #groupHost></ng-template>
        </div>
      </div>
    </ng-container>

    <button type="button" (click)="setSettings()">Save Settings</button>
  </form>
</div>
