<button (click)="getSetting()">Get settings</button>
<div class="container" [class.open]="isContainerOpen">
  <form [formGroup]="form">
<div class="expander" [class.show]="isShowAppearance">
  <div class="group-title">
    <h3>Appearance</h3>
    <button (click)="toggleExpander('appearance')">
      {{ isAppearanceOpen ? "Collapse" : "Expand" }}
    </button>
  </div>

  <div class="content" [class.open]="isAppearanceOpen">
    <ng-template #appearance></ng-template>
  </div>
</div>

<div class="expander" [class.show]="isShowGeneral">
  <div class="group-title">
    <h3>General</h3>
    <button (click)="toggleExpander('general')">
      {{ isGeneralOpen ? "Collapse" : "Expand" }}
    </button>
  </div>

  <div class="content" [class.open]="isGeneralOpen">
    <ng-template #general></ng-template>
  </div>
</div>

<div class="expander" [class.show]="isShowDisplay">
  <div class="group-title">
    <h3>Display</h3>
    <button (click)="toggleExpander('display')">
      {{ isDisplayOpen ? "Collapse" : "Expand" }}
    </button>
  </div>

  <div class="content" [class.open]="isDisplayOpen">
    <ng-template #display></ng-template>
  </div>
</div>
<button (click)="setSettings()">Save Settings</button>
</form>
</div>

