<div class="container">
    <h1>Basic Interceptor</h1>
  
    <section class="overview">
      <p>
      Interceptors in Angular provide a powerful way to modify or inspect HTTP requests and responses globally.
      This sub-topic introduces the most basic form of an interceptor: one that logs HTTP requests to the console.
      It serves as a practical foundation for more advanced use cases like authentication, error handling, and request transformation.
    </p>
  
      <h2>Example of Basic Interceptor</h2>
      <app-basic-interceptor-demo></app-basic-interceptor-demo>
    </section>
  </div>