nav {
  width: 250px;
  background-color: var(--nav-bg);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  a{
    color: var(--nav-text);
  }
}

nav .logo {
  text-align: center;
  color:#fff;
  font-size: 24px;
  background: #c98d1f;
  justify-content: center;
  span{
    display:inline-block;
    line-height: 50px;
  }
}

nav .nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}


nav .nav-links li a {
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  color: var(--nav-text);
  display: block;
  padding: 12px 20px;
  font-size: 18px;
}

nav .nav-links li a:hover {
  background-color: #e3a535;
}

nav .nav-links li a.active {
  background-color: #df9a1c;
  color: #fff;
}

/* Main content area */
main {
  margin-left: 250px; /* Space for sidebar */
  padding: 20px;
  width: calc(100% - 250px);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}