.auth-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .auth-card {
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border:1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

    h1 {
      font-size: 24px;
      color: #1e293b;
      text-align: center;
      margin-bottom: 8px;
    }
    .subtitle {
      font-size: 14px;
      color: #64748b;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.tabs-nav {
  display: flex;
  background: var(--nav-bg);
  padding: 4px;
  border-radius: 12px;
  margin-bottom: 25px;

  button {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    background: none;
    color: #fff;
    transition: 0.2s;
    &.active {
      background: #fff;
      color: var(--nav-bg);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }
  }
}

.form-field {
  margin-bottom: 20px;
  label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #554d33;
    margin-bottom: 8px;
  }
  input {
    background-color: #f9b3321a;
    width: 100%;
    padding: 12px 16px;
    border: 1.5px solid #e2e8f0;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    &:focus {
      border-color: var(--nav-bg) ;
    }
  }
}



.alert-error {
  color: #dc2626;
  font-size: 13px;
  text-align: center;
  background: #fef2f2;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.field-error {
  color: #dc2626;
  font-size: 12px;
  margin-top: 5px;
}
