.breadcrumb {
  margin-bottom: 10px;
    font-size: 14px;
    color: #888;
    display: flex;
    align-items: center;  
    width:100%;
    justify-content: space-between;

  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #007acc;
    transition: color 0.2s;
  }
  
  .breadcrumb a:hover {
    color: #005fa3;
  }
  
  .divider {
    margin: 0 8px;
  }
  .right-section {
    display: flex;
    gap: 10px;
    a{
      display:inline-block;
      padding: 5px 10px;
      color: #007acc;
      text-decoration: none;
      cursor: pointer;
      &:nth-child(1){
        border-right: 1px solid #888;
      }
    }
  } 