    .demo-box {
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      margin-top: 1rem;
    }
    button {
      background-color: #1976d2;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      cursor: pointer;
    }
    span{
        margin-left: 5px;
    }