nav {
  width: 250px;
  background-color: #555;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  z-index: 100;
}

nav .logo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

nav .nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}


nav .nav-links li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 12px 20px;
  font-size: 18px;
}

nav .nav-links li a:hover {
  background-color: #999;
}

nav .nav-links li a.active {
  background-color: #000;
}

/* Main content area */
main {
  margin-left: 250px; /* Space for sidebar */
  padding: 20px;
  width: calc(100% - 250px);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}